[submodule "zsh/lib/pure"]
	path = zsh/lib/pure
	url = https://github.com/sindresorhus/pure
[submodule "zsh/lib/zsh-autosuggestions"]
	path = zsh/lib/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/lib/zsh-completions"]
	path = zsh/lib/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/lib/zsh-syntax-highlighting"]
	path = zsh/lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
